/* line 1, C:/Users/Nick/Documents/UpdatedToDo/src/todo.sass */
input[type="checkbox"] {
  float:left; }

/* line 3, C:/Users/Nick/Documents/UpdatedToDo/src/todo.sass */
input[type="checkbox"] + li {
  display: inline-block; }

/* line 5, C:/Users/Nick/Documents/UpdatedToDo/src/todo.sass */
input[type="checkbox"]:checked + li {
  text-decoration: line-through;
  color: #ccc; }

